<a href="/">&larr; 뒤로</a>
<div class="admin-title">
  <h2>열 편집</h2>
</div>

<div class="table-wrapper">
  <table style="margin-bottom: 15px;">
    <thead>
      <tr>
        <th class="column-add" style="border-left: 0;">
          <div class="admin-post-controls">
            <button class="btn" onclick="addColumn('id')">열 추가</button>
          </div>
        </th>
        <% for(let i = 0; i < colNames.length; ++i){ %>
        <th style="border-left: 1px solid #aaa;">
          <%= colNames[i] %>
          <div class="admin-post-controls">
            <button class="btn" style="padding: 10px" onclick="editColWidth('<%= indices[i] %>', '<%= widths[i] %>')">열 너비 변경</button>
          </div>
          <div class="admin-post-controls">
            <button class="btn" style="padding: 10px" onclick="editColumn('<%= indices[i] %>', '<%= colNames[i] %>')">열 이름 변경</button>
          </div>
          <form action="/deletecol/<%= indices[i] %>?_method=DELETE" method="POST" onsubmit="return confirmDelete();">
            <input type="submit" value="열 삭제" class="btn-delete btn">
          </form>
        </th>
        <th class="column-add">
          <div class="admin-post-controls">
            <button class="btn" onclick="addColumn('<%= indices[i] %>')">열 추가</button>
          </div>
        </th>
        <% }; %>
        <% for(let i = 0; i < fileColNames.length; ++i) { %>
        <th style="border-left: 1px solid #aaa;">
          <%= fileColNames[i] %>
          <div class="admin-post-controls">
            <button class="btn" style="padding: 10px" onclick="editFileColumn('<%= i + 1 %>', '<%= fileColNames[i] %>')">열 이름 변경</button>
          </div>
        </th>
        <% } %>
      </tr>
    </thead>
  </table>
</div>

<script>
  function confirmDelete() {
    return confirm("정말 삭제하시겠습니까?");
  }

  function addColumn(index) {
    let columnName = '';
    while (!columnName) {
      columnName = prompt("열 이름을 입력해주세요:");
      if (columnName === null) return;
      if (!columnName.trim()) {
        alert("열 이름은 비워둘 수 없습니다.");
        columnName = "";
      }
    }
    const url = `/addcol/${index}?colname=${encodeURIComponent(columnName.trim())}`;
    window.location.href = url;
  }

  function editColWidth(index, width) {
    let colWidth = "";
    while (!colWidth) {
      colWidth = parseInt(prompt("열 너비를 입력해주세요:", width));
      if (colWidth === null) return;
      if (colWidth < 50) {
        alert("너비는 최소 50 이상이어야 합니다.");
        colWidth = "";
      }
      if (isNaN(colWidth)) {
        alert("정수만 입력 가능합니다.");
        colWidth = "";
      }
    }
    const url = `/editwidth/${index}?width=${encodeURIComponent(colWidth)}`;
    window.location.href = url;
  }

  function editColumn(index, colName) {
    let columnName = "";
    while (!columnName) {
      columnName = prompt("열 이름을 입력해주세요:", colName);
      if (columnName === null) return;
      if (!columnName.trim()) {
        alert("열 이름은 비워둘 수 없습니다.");
        columnName = "";
      }
    }
    const url = `/editcol/${index}?colname=${encodeURIComponent(columnName.trim())}`;
    window.location.href = url;
  }

  function editFileColumn(index, colName) {
    let fileColumnName = "";
    while (!fileColumnName) {
      fileColumnName = prompt("열 이름을 입력해주세요:", colName);
      if (fileColumnName === null) return;
      if (!fileColumnName.trim()) {
        alert("열 이름은 비워둘 수 없습니다.");
        fileColumnName = "";
      }
    }
    const url = `/editfilecol/${index}?colname=${encodeURIComponent(fileColumnName.trim())}`;
    window.location.href = url;
  }
</script>